---
---

$mero-grid-sizes: 600 1100;
$mero-grid-count: one two three four;
$mero-grid-count-sizes: (
  three: 33.33333%,
  two: 50%,
);
$mero-grid-part: full third two-third;
$mero-grid-part-sizes: (
  full: 100%,
  third: 33.33333%,
  half: 50%,
  two-third: 66.66666%,
);
$mero-grid-offpart: none third two-third;
$mero-grid-offpart-sizes: (
  third: 33.33333%,
  two-third: 66.66666%,
  half: 50%,
  none: 0
);

$system-fonts: "KonsprioSans", -apple-system, system-ui, "Segoe UI", Roboto, Lato, Helvetica, Arial, sans-serif;
$serif-fonts: "KonsprioSerif", Cambria, Georgia, "Times New Roman", Times, serif;
$heading-fonts: "KonsprioDisplay", $serif-fonts;
$mono-fonts: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$table-fonts: $system-fonts;

$colors: ( // Colors from Cornell's brand guidance.
  'brand':           #611327, // 9D2235
  'secondary':       #2B5269,
  'red':             #9D2235, // Red
  'orange':          #CA6A29, // Orange
  'fall-maple':      #DBC759, // Yellow
  'founders-walk':   #707A33, // Green
  'kings-river':     #007698, // Blue
  'spiders-wart':    #655765, // Indigo
  'birdsfoot-violet':#2F1332, // Violet
  'pale-dawn':       #D5EAD9, // Sky Blue
  'gray':            #424242,
  'black':           #000000,
  'iron-gall':       #303030,
  'white':           #FFFFFF,
);

@import 'mero/functions';

$red:    'red';
$orange: 'orange';
$yellow: 'fall-maple';
$green:  'founders-walk';
$blue:   'kings-river';
$indigo: 'spiders-wart';
$violet: 'birdsfoot-violet';
$white: 'white';
$black: 'black';
$gray: 'gray';

$mero-red:    clr('red');
$mero-orange: clr('orange');
$mero-yellow: clr('fall-maple');
$mero-green:  clr('founders-walk');
$mero-blue:   clr('kings-river');
$mero-indigo: clr('spiders-wart');
$mero-violet: clr('birdsfoot-violet');

$mero-body-bg: clr('white',100);
$mero-footer-bg: clr('iron-gall');

$article-font: $serif-fonts;
$brand-font: $heading-fonts;

$mero-brand:     clr('brand',100);
$mero-primary:   $mero-brand;
$mero-navbar-bg: clr('iron-gall', 700);
$mero-code-bg:   clr('gray',500);
$mero-background-image: '';

@import 'mero';
@import 'fnord';
@import 'posts';

@include font('KonsprioDisplay',           '../fonts/Oswald-VariableFont_wght');

@include font('KonsprioSans',             '../fonts/SourceSansPro-Regular');
@include font('KonsprioSans-Italic',      '../fonts/SourceSansPro-Italic');
@include font('KonsprioSans-Bold',        '../fonts/SourceSansPro-Bold');
@include font('KonsprioSans-BoldItalic',  '../fonts/SourceSansPro-BoldItalic');

@include font('KonsprioSerif',            '../fonts/SourceSerifPro-Regular');
@include font('KonsprioSerif-Italic',     '../fonts/SourceSerifPro-Italic');
@include font('KonsprioSerif-Bold',       '../fonts/SourceSerifPro-Bold');
@include font('KonsprioSerif-BoldItalic', '../fonts/SourceSerifPro-BoldItalic');

.page-copyright {
  font-family: $system-fonts;
  font-size: 80%;
  text-align: center;
  opacity: 20%;
}
