---
layout: default
---


<section id="featured" class="invert">
  <img class='underlay' src="/assets/images/hero/{{page.underlay}}" alt="">
  <img src="/assets/images/hero/oil-underlay.jpg" alt="" class="fnord">
</section>
<section class="statistics">
  {{ content }}
</section>
<section class='body' id='books'>
  <div>
<h2>Books</h2>
  </div>
</section>
<section class='body' id='bio'>
  <h2>BIO</h2>
</section>
<section class='body center' >
  <div>
    <h2>News</h2>
    {%include post-preview-items.html%}
  </div>
</section>
